{% macro alert(alerts, classes = "") %}

    {% if alerts.errors|length > 0 %}

        {{ _self.alert_span(alerts.errors, classes ~ " alert-error") }}

    {% endif %}

    {% if alerts.warnings|length > 0 %}

        {{ _self.alert_span(alerts.warnings, classes ~ " alert-warning") }}

    {% endif %}

    {% if alerts.notices|length > 0 %}

        {{ _self.alert_span(alerts.notices, classes ~ " alert-notice") }}

    {% endif %}

{% endmacro %}

{% macro alert_span(alerts, classes = "") %}
    <div class="alert {{ classes }}">
        {% for alert in alerts %}
            <span>{{ alert }}</span>
        {% endfor %}
    </div>
{% endmacro %}
